footer {
	height: 80px;
	background-color: $background-color_negro;
	text-align: center;
	margin-top: 70px;
	h4 {
		color: $color_gris;
	}
	img {
		width: 24px;
		height: 24px;
		margin: 0 10px 0 10px;
	}
}