$color_blanco: white;
$color_gris: #e2e2ea;
$color_rojo: red;
$color_verde: green;
$color_azul: blue;
$color_amarillo: yellow;
$color_blancoHumo: #fff;
$color_one: inherit;
$Roboto: 'Roboto';
$background-color_azul: darkblue;
$background-color_griscadete: cadetblue;
$background-color_negro: black;